@import url('https://fonts.googleapis.com/css2?family=Festive&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Supermercado+One&display=swap');
$main-bg: rgb(50,110,81);
$main-btn : rgb(255, 85, 1);
$black: #000;
$textcolor: #777777;
$white: #fff;
$blue: #008ece;
$yellow:#ff9933;
$miner: #00b999;
$color-tertiary-light:#55c57a; 
$greendark:#28b485;
$hight-risk:#D7375E;
$medium-risk: #C7CB14;
$low-risk: #1627D0;
$bg: #e0e0e0;

$gridwidth: 114rem;
$glutter-vertical: 8rem;
$glutter-horizontal: 6rem;


$header-height: 170px;

$border-radious-btn: 100px;

$numbers: (0, 1, 2, 3, 4, 5, 6, 7, 8);
$mobile-width: 600px;
$tablet-width: 1024px;